# [Machine Learning] Supervised Learning

## K-Nearest Neighbor Regression

$d=\sqrt{(x_2 - x_1)^2 + (y_2 - y_1)^2}$

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Load Dataset

In [2]:
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB"
df = pd.read_csv(path)

In [3]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.shape

(7120, 108)

### Split Data

In [5]:
x = df.drop('price',axis=1)
y = df['price']

In [6]:
x.shape, y.shape

((7120, 107), (7120,))

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

In [8]:
x_train.shape, x_test.shape

((5696, 107), (1424, 107))

In [9]:
y_train.shape, y_test.shape

((5696,), (1424,))

## K Nearest Neighbor Regression Model

In [10]:
from sklearn.neighbors import KNeighborsRegressor

In [11]:
kn = KNeighborsRegressor()
kn.fit(x_train, y_train)

KNeighborsRegressor()

In [12]:
kn.score(x_test, y_test)

0.9766747440820822

### Predict Price House

In [13]:
x_test.iloc[-1,:]

bath                              2.000000
balcony                           1.000000
total_sqft_int                 1092.000000
bhk                               2.000000
price_per_sqft                 4487.179487
                                  ...
location_Hosur Road               0.000000
location_Horamavu Banaswadi       0.000000
location_Domlur                   0.000000
location_Mahadevpura              0.000000
location_Tumkur Road              0.000000
Name: 1817, Length: 107, dtype: float64

In [14]:
kn.predict([x_test.iloc[-1,:]])

array([49.22])

In [15]:
y_test.iloc[-1]

49.0

In [16]:
y_pre = kn.predict(x_test)
y_pre

array([46.98, 59.4 , 65.  , ..., 56.76, 26.2 , 49.22])

In [17]:
y_test

960      47.0
132      60.0
2431     65.0
2229    325.0
4503     60.0
        ...
4970     48.0
553     205.0
1397     56.5
4056     26.0
1817     49.0
Name: price, Length: 1424, dtype: float64